*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lista-pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 20px;
    list-style: none;


}

h3{
    font-family: 'Geometric', sans-serif;
    margin: 40px;
    font-size: 100px;
    justify-self: center;
    font-family: 'Redgat', sans-serif;
                                                
    
    
}
.pokemon{
    background-color: #78c850;
    border-radius: 10px ;
    width: 450px;
    margin-left: 45px;
    border: 11px solid black;
    border-radius: 80px;

    img{
        width: 45%;
        display:flex;
        justify-self: center;

    }

    p{
        text-align: center;
        font-size: 20px;
    }
}
.grass{background-color: #ff99c8;}
.fire{background-color:#fcf6bd}
.normal{background-color: #d0f4de;}
.water{background-color: #a9def9;}
.electric{background-color: #e4c1f9;}

body{
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-image: url(../assets/pokemon.png);
    background-repeat: repeat;  
    background-position: center top;
    background-size: cover; 
    background-attachment: scroll;
    height: 100vh;
    margin: 0;
  
}
